
__pycache__/
*.py[cod]
*$py.class


*.so


bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/


venv/
env/
ENV/
.env


.DS_Store
Thumbs.db


cleaned_ball_by_ball.csv
player_features_and_archetypes.csv
player_valuation_market_analysis.csv
*.png